.navbar{
    height: 5vw;
    background-color: #E69E5F!important;
}
body{
    background-color: #FDD69B;
}
.navbar-brand{
    font-size: 2vw;
    color: white!important;
}
.heightFillerTwo{
    height: 6vw;
}
.card-img-top{
    height: 75%;
    width: 75%;
}
.card{
    height: 825px;
    text-align: center;
    margin-left: auto;
    display: block;
    border-color: black;
    border-width: 0px;
}
#springCard{
    background-color: #90Be6d;
}
#summerCard{
    background-color: #f9c74f;
}
#fallCard{
    background-color: #f9844A;
}
#winterCard{
    background-color: #8ecae6;
}
.navbar-header-text{
    font-family: 'Libre Baskerville', serif;
}
.card-title{
font-family: 'Playfair Display', serif;   
}
